body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body, #instructions ul{
  background-color: #201d13;
}

#content {
  background-color: #6C6342;
  padding-bottom: 25px;
}

header, #credits, #instructions ul, footer {
  width: 700px;
  margin: 0 auto;
}

header {
  padding-top: 80px;
}

#social {
  text-align: right;
}
header h1 {
  margin-left: 71px;
  text-indent: -999px;
  overflow: hidden;
  width: 558px;
  height: 62px;
  background: url('images/chucktestar_logo.png') top left no-repeat;
}

header p {
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#subtitle {
  color: #897e5e;
}

header em {
  font-weight: bold;
  font-style: normal;
}

#instructions {
  color: white;
  width: 1200px;
  padding: 190px 0 164px 0;
  margin: -190px auto 0 auto;
  background-image: url('images/pigbird.png'), url('images/crocoduck.png'), url('images/squieagle.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 150px 160px, 710px 140px, 700px 200px;
  transition-property: backVound-position;
  transition-duration: 1s;
  -webkit-transition-property: background-position;
  -webkit-transition-duration: 1s;
  -o-transition-property: background-position;
  -o-transition-duration: 1s;
  -moz-transition-property: background-position;
  -moz-transition-duration: 1s;

}

@-webkit-keyframes animals{
  10% {background-position: 135px 155px, 723px 140px, 705px 207px;}
  20% {background-position: 102px 148px, 735px 140px, 721px 207px;}
  30% {background-position: 94px 132px, 764px 111px, 743px 223px;}
  40% {background-position: 85px 129px, 777px 91px, 756px 242px;}
  50% {background-position: 76px 126px, 789px 87px, 760px 251px;}
  60% {background-position: 56px 124px, 796px 74px, 765px 257px;}
  70% {background-position: 32px 122px, 811px 62px, 771px 263px;}
  80% {background-position: 27px 121px, 833px 49px, 779px 271px;}
  90% {background-position: 20px 120px, 845px 39px, 782px 274px;}
  100% {background-position: 10px 120px, 860px 30px, 790px 270px;}
}

@-moz-keyframes animals{
  10% {background-position: 135px 155px, 723px 140px, 705px 207px;}
  20% {background-position: 102px 148px, 735px 140px, 721px 207px;}
  30% {background-position: 94px 132px, 764px 111px, 743px 223px;}
  40% {background-position: 85px 129px, 777px 91px, 756px 242px;}
  50% {background-position: 76px 126px, 789px 87px, 760px 251px;}
  60% {background-position: 56px 124px, 796px 74px, 765px 257px;}
  70% {background-position: 32px 122px, 811px 62px, 771px 263px;}
  80% {background-position: 27px 121px, 833px 49px, 779px 271px;}
  90% {background-position: 20px 120px, 845px 39px, 782px 274px;}
  100% {background-position: 10px 120px, 860px 30px, 790px 270px;}
}

@-o-keyframes animals{
  10% {background-position: 135px 155px, 723px 140px, 705px 207px;}
  20% {background-position: 102px 148px, 735px 140px, 721px 207px;}
  30% {background-position: 94px 132px, 764px 111px, 743px 223px;}
  40% {background-position: 85px 129px, 777px 91px, 756px 242px;}
  50% {background-position: 76px 126px, 789px 87px, 760px 251px;}
  60% {background-position: 56px 124px, 796px 74px, 765px 257px;}
  70% {background-position: 32px 122px, 811px 62px, 771px 263px;}
  80% {background-position: 27px 121px, 833px 49px, 779px 271px;}
  90% {background-position: 20px 120px, 845px 39px, 782px 274px;}
  100% {background-position: 10px 120px, 860px 30px, 790px 270px;}
}

@-ms-keyframes animals{
  10% {background-position: 135px 155px, 723px 140px, 705px 207px;}
  20% {background-position: 102px 148px, 735px 140px, 721px 207px;}
  30% {background-position: 94px 132px, 764px 111px, 743px 223px;}
  40% {background-position: 85px 129px, 777px 91px, 756px 242px;}
  50% {background-position: 76px 126px, 789px 87px, 760px 251px;}
  60% {background-position: 56px 124px, 796px 74px, 765px 257px;}
  70% {background-position: 32px 122px, 811px 62px, 771px 263px;}
  80% {background-position: 27px 121px, 833px 49px, 779px 271px;}
  90% {background-position: 20px 120px, 845px 39px, 782px 274px;}
  100% {background-position: 10px 120px, 860px 30px, 790px 270px;}
}

#instructions.hover {
  -webkit-animation-name: animals;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: animals;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-fill-mode: forwards;
  -o-animation-name: animals;
  -o-animation-duration: 1s;
  -o-animation-timing-function: linear;
  -o-animation-fill-mode: forwards;
  -ms-animation-name: animals;
  -ms-animation-duration: 1s;
  -ms-animation-timing-function: linear;
  -ms-animation-fill-mode: forwards;
  animation-name: animals;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#instructions ul {
  padding: 41px 0;
  list-style-type: none;
}

#instructions li {
  line-height: 46px;
  padding: 0 41px;
}

#instructions li:first-child {
  margin-bottom: 32px;
}

#instructions .step {
  display: inline-block;
  width: 175px;
  font-size: 16px;
}

#instructions code {
  display: inline-block;
  width: 400px;
  padding: 0 16px;
  background-color: black;
  font-family: courier;
  font-size: 14px;
}

#credits {
  margin-top: -164px;
}

#download, #authors {
  display: inline-block;
  vertical-align: top;
}

#download {
  width: 444px;
  margin-right: 65px;
}

#authors {
  width: 186px;
}

#download h2, #authors h2 {
  font-size: 16px;
  color: #897e5e;
  font-weight: normal;
  margin-top: 45px;
  margin-bottom: 0;
}

#download p {
  line-height: 36px;
  margin-top: 4px;
}

#download a {
  color: #FED500;
  text-decoration: none;
  font-weight: bold;
}

#download a:hover {
  text-decoration: underline;
}


#authors dl {
  margin-top: 9px;
}


#download code {
  margin-top: 16px;
  display: block;
  background-color: #4e4732;
  color: white;
  padding: 0 16px;
  line-height: 46px;
  font-family: courier;
  font-size: 12px;
}

#authors dt, #authors dd{
  width: 186px;
  display: block;
  margin-left: 0;
  line-height: 26px;
}

#authors dt {
  font-weight: bold;
}

footer p {
  display: inline-block;
  color: #4e4732;
}

footer p a {
  color: #aea486;
  text-decoration: none;
  line-height: 35px;
  margin-left: 10px;
  font-size: 16px;
}

#contact{
  width: 438px;
}

#made_by a {
  display: inline-block;
  width: 176px;
  height: 35px;
  text-indent: -9999px;
  overflow: hidden;
  background: url('images/appli_logo.png') top left no-repeat;
}

